.main {
  //border: 1px solid black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  //flex-wrap: wrap;

  //width: 100vw;
  height: 100vh;
  //margin: 1rem auto 0;
  .section-left {
    background: #282c34;
    color: #cac9c7;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding-top: 32px;
    padding-left: 50px;
    .foto {
      width: 120px;
      //height: 120px;
      border-radius: 50%;
      margin-left: 2rem;
    }
    .title {
      font-size: 24px;
    }
    .subtitle {
      font-size: 18px;
    }
    .contacts {
      margin-top: 3rem;
      //margin-left: 1rem;
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      .contact {
        //width: 220 px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .subsection {
      margin-top: 3rem;
      //margin-left: 1rem;
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      .title {
        border-bottom: 2px solid #24efc2;
        width: 200px;
        text-align: left;
      }
      .item {
        display: flex;
        width: 200px;
        justify-content: space-between;
        align-items: center;
        //.subtitle {

        //}
        .value {
          display: flex;
          width: 70px;
          justify-content: space-between;
          .circle {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: rgb(36, 239, 194);
          }
        }
      }

    }
  }

  .section-right {
    background: #cac9c7;
    color: rgb(40, 44, 52);
    //width: calc(100vw - 400px);
    width: 100%;
    .subsection {
      //display: flex;
      display: grid;
      grid-template-columns: 200px auto;
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
    .subsections {
      //margin-top: 3rem;
      //margin-left: 1rem;
      //display: flex;
      //flex-direction: column;
      display: grid;
      grid-template-columns: 150px auto;
      grid-template-rows: repeat(5, auto);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      align-items:flex-start;
      &-title {
        //width: 150px;
        text-align: left;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 1.5rem;
      }
      &-content {
        text-align: left;
        font-size: 1.2rem;
        padding: 1.5rem 1.5rem 0rem 0rem;
      } 
    }
  }

}

.icon {
  margin: 0.5rem 1rem;
}

.icon-close {
  position: absolute;
}

p {
  margin: 0;
}

.marginBottom {
  margin-bottom: 1rem;
}

a {
  &:hover {
    text-decoration: underline;
    color: rgb(83, 6, 102);
  }
}